<div *ngIf="data.accion != 'eliminar'">
    <h1>Ingrese los datos solicitados del punto de interés</h1>
    <form [formGroup]="form">
        <h3>Ingrese la dirección del punto de interés</h3>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
            id="direccionPunto">    
        </mat-form-field>
        <h3>Ingrese el título del punto de interés</h3>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label></mat-label>
            <input matInput placeholder="Ej. jornada de vacunación" id="tituloPunto" 
            formControlName="tituloLugar" required matInput autocomplete="off">
          </mat-form-field>
          <h3>Ingrese una breve descripción del lugar y demás</h3>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label></mat-label>
            <textarea matInput placeholder="Ej. horarios, gente permitida, tipos de animales, etc." class="tam" id="txtInput">{{data.texto}}</textarea>
          </mat-form-field>
          
    </form>
    <button mat-raised-button (click)="guardarTexto('aceptar')">Aceptar</button>
    <button mat-raised-button (click)="guardarTexto('cancelar')">Cancelar</button>
</div>
<div *ngIf="data.accion == 'eliminar'">
    <h1><b> Mensaje de confirmación </b></h1>
    <p>¿Está seguro que desea eliminar este punto de interés?</p>
    <div class="centrar">
        <button mat-raised-button (click)="accion('confirmar')" style="background-color: green; color: white;">Confirmar</button>
        <i style="color: white;">...</i>
        <button mat-raised-button (click)="accion('cancelar')" color="warn">Cancelar</button>
    </div>
   
</div>
