.ancho {
  width: 90%;
}
.ancho {
  width: 90%;
}
.centro {
  text-align: center;
  
}
.margen {
  height: 1120px;
  width: 1120px;
  margin: auto;
}
.tamano {
  text-align: center;
  width: 140px;
  height: 35px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.titulo {
  font-size: 30px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.image {
  background-image: url(src\assets\Images\dogs-background.png);
  height: 90%;
}
.color {
  background-color: beige;
}



.inputImg{
  visibility: hidden;
}
.pointer
{
  cursor: pointer;
}
.tam{
  width: 800px;
  margin: auto;
}
