@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&family=Zen+Kurenaido&display=swap");
body {
  padding-top: 30px;
  padding-bottom: 300px;
}
h1 {
  font-family: "Proza Libre", sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-size: 27px;
  background-color: #f5f5f5;
}
.algo {
  padding-top: 30px;
}
.contenedor {
  padding-top: 30px;
  justify-content: center;
  padding-bottom: 30px;
  vertical-align: middle;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
}

.fundaciones {
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-right: 15px;
}
.fundacion {
  border: 1px solid black;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 30px;
  line-height: 1.5;
}
.nombre {
  color: green;
  background-color: #f5f5f5;
}
.cuerpo {
  text-align: left;
  margin: 10px;
  font-size: 25px;
  background-color: #f5f5f583;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #24262b;
  background-color: #fff;
}
