<div class="alinear">
  <h1><b> <i> {{data.fundacion.nombreFund}} </i> </b></h1>
  <img [src]="data.fundacion.urlImg" mat-card-image width="70%" class="container crop">
  <h3>
    <div>
      <b>Fecha de creación: </b>
      <i>{{data.fundacion.fecha_creacion}}</i>
    </div>
    </h3>
  <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile colspan="1" rowspan="2">
        <div>
          <h1><b>Misión</b></h1>
          <i>{{data.fundacion.mision}}</i>
        </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
          <div>
            <h1><b>Visión</b></h1>
            <i>{{data.fundacion.vision}}</i>
          </div>
          </mat-grid-tile>
  </mat-grid-list>
  <p> </p>
  <p> </p>
  <h1>Información de contacto</h1>
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile colspan="1" rowspan="2">
      <div>
        <mat-icon class="icon">person</mat-icon>
        <b>Persona encargada</b> <br>
        <i>{{data.fundacion.nombreEncar}} {{data.fundacion.apellidosEncar}}</i>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <div>
        <mat-icon class="icon">place</mat-icon>
        <b>Dirección</b> <br>
        <i>{{data.fundacion.direccion}}</i>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="1" rowspan="2">
      <div>
        <mat-icon class="icon">phone_android</mat-icon>
        <b>Celular</b> <br>
        <i>{{data.fundacion.num_celular}}</i>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <div>
        <mat-icon class="icon">mail</mat-icon>
        <b>Correo electrónico</b> <br>
        <i>{{data.fundacion.correo}}</i>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <p> </p>
  <p> </p>
</div>
