.alinear
{
    text-align: center;
}
.justificar 
{
    text-align: justify;
    text-justify: inter-word;
}
mat-grid-tile {
    background: beige;
  }
  .container {
    width: 340px;
    height: 200px;
    overflow: hidden;
}
.container > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.icon 
{
  position: relative;
  top:100%;
}