<mat-toolbar color="warn">
  <span>My Pet-Adoptante</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard-adoptante">Home</button>

  <button mat-button routerLink="mapa">Mapa</button>
  <!--ngfor es para correr un array-->
  <button mat-button routerLink="adoptame">Adoptame</button>
  <!--ngfor es para correr un array-->
  <button mat-button routerLink="get-fundaciones">Fundaciones</button>
  <!--ngfor es para correr un array-->
  <button mat-button routerLink="consejos">Consejos</button>
  <!--ngfor es para correr un array-->
  <button mat-button routerLink="solicitudes-adopcion-adoptante">
    Mis solicitudes de adopcion
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="mi_cuenta">
      <mat-icon>account_circle</mat-icon>
      <span>Mi cuenta</span>
    </button>
    <button mat-menu-item (click)="loginService.logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>