<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"
    rel="stylesheet"
  />
</head>

<nav>
  <div class="logo">
    <h4>The Nav</h4>
  </div>
  <span class="example-spacer"></span>
  <ul class="nav-links">
    <span class="example-spacer"></span>
    <li><a routerLink="/dashboard-adoptante">Home</a></li>
    <span class="example-spacer"></span>
    <li><a routerLink="mapa">Mapa</a></li>
    <span class="example-spacer"></span>
    <li><a routerLink="get-fundaciones">Fundaciones</a></li>
    <span class="example-spacer"></span>
    <li><a routerLink="consejos">Consejos</a></li>
    <span class="example-spacer"></span>
    <li>
      <a routerLink="solicitudes-adopcion-adoptante" *ngIf="usuarioAutenticado"
        >Mis Solicitudes</a
      >
    </li>
    <span class="example-spacer"></span>
    <li>
      <a routerLink="/login" *ngIf="!usuarioAutenticado">Iniciar Sesión</a>
    </li>
    <span class="example-spacer"></span>
  </ul>
  <span class="example-spacer"></span>
  <div *ngIf="usuarioAutenticado">
    <mat-icon
      [matMenuTriggerFor]="menu"
      class="pointer"
      [ngStyle]="{ color: 'white' }"
      >more_vert</mat-icon
    >

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['mi_cuenta', userId]">
        <mat-icon>account_circle</mat-icon>
        <span>Mi cuenta</span>
      </button>
      <button mat-menu-item routerLink="solicitudes">
        <mat-icon>description</mat-icon>
        <span>Solicitudes de adopción</span>
      </button>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<script src="navbar.component.ts"></script>
