<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"
    rel="stylesheet"
  />
</head>

<nav>
  <div class="logo2">
    <h4>AdoptaBog</h4>
  </div>
  <div class="logo">
    <a class="navbar-brand" href="/">
      <div class="logo-image">
        <img src="../../../assets/Images/perro.png" width="100%" />
      </div>
    </a>
  </div>
  <span class="example-spacer"></span>
  <ul class="nav-links">
    <span class="example-spacer"></span>
    <li><a routerLink="/dashboard-adoptante">Home</a></li>
    <span class="example-spacer"></span>
    <li><a routerLink="mapa">Mapa</a></li>
    <span class="example-spacer"></span>
    <li><a routerLink="get-fundaciones">Fundaciones</a></li>
    <span class="example-spacer"></span>
    <li><a routerLink="consejos">Consejos</a></li>
    <span class="example-spacer"></span>
    <li><a routerLink="tienda">Tienda</a></li>
    <span class="example-spacer"></span>
    <li>
      <a routerLink="solicitudes-adopcion-adoptante" *ngIf="usuarioAutenticado"
        >Mis Solicitudes</a
      >
    </li>

    <li>
      <a routerLink="/login" *ngIf="!usuarioAutenticado">Iniciar Sesión</a>
    </li>
    <span class="example-spacer"></span>

    <li>
      <a [routerLink]="['mi_cuenta', userId]" *ngIf="usuarioAutenticado"
        >Cuenta</a
      >
    </li>
    <span class="example-spacer"></span>
    <li class="logout" (click)="onLogout()" *ngIf="usuarioAutenticado">
      <a><mat-icon>logout</mat-icon></a>
    </li>
    <span class="example-spacer"></span>
  </ul>
  <span class="example-spacer"></span>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<script src="navbar.component.ts"></script>
