<body>
  <h1>Nuestras fundaciones</h1>
  <div class="contenedor">
    
    <div class="fundaciones">
      <div *ngFor="let fundacion of fundaciones" class="fundacion">
        <div class="nombre"> {{ fundacion.nombreFund }}</div>
        <div class="cuerpo">
          <div class="encargado"> Encargado: {{ fundacion.nombreEncar }} {{fundacion.apellidosEncar}}</div>
          <div class="telefono"> Telefono de contacto: {{ fundacion.num_celular }}</div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</body>
