@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

h2 {
  font-family: "Proza Libre", sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-size: 27px;
}
.cuerpo {
  padding-bottom: 15px;
}
mat-card {
  background-color: rgb(245 245 220);
}
.centro {
  text-align: center;
  padding-bottom: 30px;
}
.ancho {
  width: 90%;
}
.todo {
  padding-top: 80px;
}
.margen {
  height: 100px;
  width: 1120px;
  margin: auto;
  background-image: url(src\assets\Images\fundacion_background.jpg);
}
.tamano {
  text-align: center;
  width: 120px;
  height: 35px;
}
.tamano2 {
  text-align: center;
  width: 120px;
  height: 35px;
  color: white;
  background-color: black;
}
.pointer {
  cursor: pointer;
}
.image {
  background-image: url(src\assets\Images\fundacion_background.jpg);
  height: 90%;
}
.color {
  padding-top: 15px;
  background-color: rgba(245, 245, 220, 0.9);
}
.flex-me {
  flex-flow: row wrap;
}
