<div>
    <mat-card styles="margin-top: 10px;" class="image flex-me" >
        <h2>Mi cuenta - {{fundacion.nombreFund}}</h2>
        <form action="mi-cuenta.component.ts" (ngSubmit)="updatePerfil(updateProfile)" #updateProfile="ngForm" method="POST">
            <mat-card class="color">
                <div>
                        <img [src]="'http://localhost:3000/' + fundacion.urlImg"  width="10%" alt="">
                        <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                </div>
                <div class="centro">
                    <img [src]="previsualizacion" width="15%" class="pointer" matTooltip="Desplegar opciones de foto"
                        [matMenuTriggerFor]="menu">
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="verFoto()">
                            <mat-icon>visibility</mat-icon>
                            <span>Ver foto</span>
                        </button>
                        <button mat-menu-item (click)="fileInput.click()">
                            <mat-icon>perm_media</mat-icon>
                            <span>Cambiar foto</span>
                            <input (change)="onFileInput($event)" type="file">
                        </button>
                    </mat-menu>
                </div>
                <form >
                    <mat-grid-list cols="2" rowHeight="60px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Nombre de la fundación</mat-label>
                                <input matInput value="{{fundacion.nombreFund}}" autocomplete="off">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Nombre de encargado(a)</mat-label>
                                <input matInput value="{{fundacion.nombreEncar}}" autocomplete="off" >
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Apellidos de encargado(a)</mat-label>
                                <input matInput value="{{fundacion.apellidosEncar}}" autocomplete="off" >
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Tipo de documento</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let item of documentos"[value]="item">{{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Número de documento</mat-label>
                                <input value="{{fundacion.num_doc}}" matInput autocomplete="off" >
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Misión</mat-label>
                                <input value="{{fundacion.mision}}"matInput autocomplete="off" >
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Visión</mat-label>
                                <input value="{{fundacion.vision}}" matInput autocomplete="off" >
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho" appearance="fill">
                                <mat-label>Fecha de creación</mat-label>
                                <input [matDatepicker]="picker" value="{{fundacion.fecha_creacion | date: 'dd/MM/yyyy'}}" matInput >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho" appearance="fill">
                                <mat-label>Dirección</mat-label>
                                <input matInput value="{{fundacion.ubicacion.direccionFormateada}}"  #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                                >    
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Correo electrónico</mat-label>
                                <input value="{{fundacion.correo}}" matInput autocomplete="off">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Número de celular</mat-label>
                                <span matPrefix>+57 &nbsp;</span>
                                <input value="{{fundacion.num_celular}}" type="tel" matInput placeholder="555-555-1234" autocomplete="off" >
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="ancho">
                                <mat-label>Contraseña</mat-label>
                                <input matInput type="password" autocomplete="off" >
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <div class="centro">
                        <button mat-raised-button color="primary" style="margin: 16px;" class="tamano">Modificar</button>
                        <button mat-raised-button color="accent" class="tamano"
                            routerLink="/dashboard">Cancelar</button>
                    </div>
                </form>
            </mat-card>
        </form>

    </mat-card>


</div>