<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"
    rel="stylesheet"
  />
</head>

<nav>
  <div class="logo">
    <h4>The Nav</h4>
  </div>
  <span class="example-spacer"></span>
  <ul class="nav-links">
    <span class="example-spacer"></span>
    <li><a routerLink="/dashboard">Home</a></li>
    <span class="example-spacer"></span>
    <li><a [routerLink]="['mapa', userId]">Mapa</a></li>
    <span class="example-spacer"></span>
    <li ><a routerLink="mis-animales">Mis Animales</a></li>
    <span class="example-spacer"></span>
    <li >
      <a routerLink="animales-adoptados">Adopciones</a>
    </li>
    <span class="example-spacer"></span>
    <li >
      <a [routerLink]="['publicaciones', userId]">Mis Publicaciones</a>
    </li>
    <span class="example-spacer"></span>
    <li ><a routerLink="fundaciones">Fundaciones</a></li>
    <span class="example-spacer"></span>
  </ul>
  <span class="example-spacer"></span>
  <div>
    <mat-icon
      *ngIf="userIsAuth"
      [matMenuTriggerFor]="menu"
      class="pointer"
      [ngStyle]="{ color: 'white' }"
      >more_vert</mat-icon
    >

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="mi_cuenta">
        <mat-icon>account_circle</mat-icon>
        <span>Mi cuenta</span>
      </button>
      <button mat-menu-item routerLink="solicitudes">
        <mat-icon>description</mat-icon>
        <span>Solicitudes de adopción</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<script src="navbar.component.ts"></script>
