.ancho {
  width: 90%;
}
.ancho {
  width: 90%;
}
.centro {
  text-align: center;
}
.margen {
  height: 1120px;
  width: 1120px;
  margin: auto;
}
.tamano {
  text-align: center;
  width: 140px;
  height: 35px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.titulo {
  font-size: 30px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.image {
  background-image: url(src\assets\Images\dogs-background.png);
  height: 90%;
}
.color {
  background-color: #f5f5dcb5;
}
.seccionJugar {
  text-align: left;
  margin: 50px;
  float: left;
}
.items {
  font-size: 12pt;
}
.vacunas {
  margin-left: 30px;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12pt;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.657);
}
ul {
  align-content: left;
}
