<div>
  <mat-card styles="margin-top: 10px;" class="image">
    <h2 class="titulo">Solicitud de adopción</h2>
    <form>
      <mat-card class="color">
        <form>
          <div class="centro">
            <img src="../../../assets/Images/siluetahombre.png" width="7%" />
          </div>
          <h2 class="titulo">Información Personal</h2>
          <form
            action="formulario-adopcion.component.ts"
            (ngSubmit)="onEnviarSolicitud(solicitudAdopcionForm)"
            #solicitudAdopcionForm="ngForm"
            method="POST"
          >
            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Nombres</mat-label>
                    <input
                      name="nombresAdoptante"
                      ngModel
                      type="text"
                      #nombresAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Apellidos</mat-label>
                    <input
                      name="apellidosAdoptante"
                      ngModel
                      type="text"
                      #apellidosAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de documento</mat-label>
                    <input
                      name="num_doc"
                      ngModel
                      type="number"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select
                      name="tipo_doc"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of tipo_doc" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input
                      name="fecha_nacimiento"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Localidad</mat-label>
                    <mat-select
                      name="localidad"
                      ngModel
                      #localidadInput="ngModel"
                    >
                      <mat-option
                        *ngFor="let localidad of localidad"
                        [value]="localidad"
                      >
                        {{ localidad }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Genero</mat-label>
                    <input
                      name="genero"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de celular</mat-label>
                    <input
                      name="num_celular"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Correo</mat-label>
                    <input
                      name="correo"
                      ngModel
                      type="email"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input
                      name="password"
                      ngModel
                      type="password"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Tipo de usuario</mat-label>
                    <input
                      name="tipo_usuario"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
            <div class="centro">
              <img src="../../../assets/Images/siluetafamilia.png" width="15%" />
            </div>
            <h2 class="titulo">Información Familiar</h2>
            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">  
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Número de adultos en la casa</mat-label
                    >
                    <input
                      name="numAdultos"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Número de niños en la casa</mat-label
                    >
                    <input
                      name="numNiños"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Edad de la persona más longeva en la casa</mat-label
                    >
                    <input
                      name="edadesAdultos"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Edad de la persona más joven de la casa</mat-label
                    >
                    <input
                      name="edadesNiños"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Número de mascotas en la casa</mat-label
                    >
                    <input
                      name="fundacionSolicitud"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Digite las razas de las mascotas seguidas de una coma ej: (Pitbull, Cocker...)</mat-label
                    >
                    <input
                      name="razasMascotas"
                      ngModel
                      type="text"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Seleccione el temperamento del animal mas agresivo de la casa</mat-label>
                    <mat-select
                      name="temperamentoMascotas"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of temperamentos" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Tiempo en años que lleva con esa mascota (digite 0 en caso de no tener)</mat-label
                    >
                    <input
                      name="tiempoConMascotas"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Nombre de un familiar al que se pueda contactar en caso de que usted no esté </mat-label
                    >
                    <input
                      name="nombreFamiliarContacto"
                      ngModel
                      type="text"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Número de teléfono de ese familiar </mat-label
                    >
                    <input
                      name="numeroFamiliarContacto"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿Están todas las personas de la casa de acuerdo con tener una mascota más en el hogar?</mat-label>
                    <mat-select
                      name="familiaresDeAcuerdo"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿Hay personas con alergias como asma o enfermedades respiratorias?</mat-label>
                    <mat-select
                      name="familiaresAlergias"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿Hay personas que planeen embarazarse en el próximo año en su casa?</mat-label>
                    <mat-select
                      name="familiaresPlaneaEmbarazo"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
            <div class="centro">
              <img src="../../../assets/Images/silueta-perro.png" width="15%" />
            </div>
            <h2 class="titulo">Información Relacionada con la tenencia de mascotas</h2>
            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >¿Cuántas horas permanece fuera de casa al día?  </mat-label
                    >
                    <input
                      name="tiempoEnCasaHoras"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿Aproximadamente hasta qué hora estaría sola la mascota?</mat-label>
                    <mat-select
                      name="horaRegresoCasa"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of horasSolo" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿En qué lugar vivirá la mascota?</mat-label>
                    <mat-select
                      name="lugarDeVivienda"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of lugarDeVivienda" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿Cuánto estima en gastos mensuales con su mascota?</mat-label>
                    <mat-select
                      name="veterinarioGastos"
                      ngModel
                      #veterinarioGastos="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of dineroEstimadoMascota" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <span class ="seccionJugar"><ul>
                      <li *ngFor="let item of lugarDeJugar" class="items">
                        <mat-checkbox name="patioInteriorJugar" ngModel #esquema_vacInput="ngModel" > {{item}} </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <span class ="gastosMascota"><ul>
                      <li *ngFor="let gastos of gastosMascota" class="items">
                        <mat-checkbox name="vaterinarioGastos" ngModel #veterinarioGastosInput="ngModel" > {{gastos}} </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </mat-grid-tile>
                

              </div>
            </mat-grid-list>

            <div class="centro">
              <button
                mat-raised-button
                color="primary"
                style="margin: 18px"
                class="tamano"
                type="submit"
              >
                Enviar Solicitud
              </button>
              <button
                mat-raised-button
                color="accent"
                class="tamano"
                routerLink="/dashboard-adoptante/adoptame"
              >
                Cancelar
              </button>
            </div>
          </form>
        </form>
      </mat-card>
    </form>
  </mat-card>
</div>
