<div class="card">
  <h2>Formulario de Adopción</h2>
  <h3>Información Personal</h3>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Nombres</label>
        <input type="text" />
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Apellidos</label>
        <input type="text" />
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Edad</label>
        <input type="text" />
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Telefono</label>
        <input type="text" />
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Correo</label>
        <textarea></textarea>
      </div>
    </div>

    <div class="col">
      <input type="submit" value="Submit" />
    </div>
  </div>
</div>
