<div>
  <mat-card styles="margin-top: 10px;" class="image">
    <h2 class="titulo">Solicitud de adopción</h2>
    <form>
      <mat-card class="color">
        <form>
          <div class="centro">
            <img src="../../../assets/Images/siluetahombre.png" width="7%" />
          </div>
          <h2 class="titulo">Información Personal</h2>
          <form
            action="formulario-adopcion.component.ts"
            (ngSubmit)="onEnviarSolicitud(solicitudAdopcionForm)"
            #solicitudAdopcionForm="ngForm"
            method="POST"
          >
            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Nombres</mat-label>
                    <input
                      name="nombresAdoptante"
                      ngModel
                      type="text"
                      #nombresAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Apellidos</mat-label>
                    <input
                      name="apellidosAdoptante"
                      ngModel
                      type="text"
                      #apellidosAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de documento</mat-label>
                    <input
                      name="num_doc"
                      ngModel
                      type="number"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select
                      name="tipo_doc"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of tipo_doc" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input
                      name="fecha_nacimiento"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Localidad</mat-label>
                    <mat-select
                      name="localidad"
                      ngModel
                      #localidadInput="ngModel"
                    >
                      <mat-option
                        *ngFor="let localidad of localidad"
                        [value]="localidad"
                      >
                        {{ localidad }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Genero</mat-label>
                    <input
                      name="genero"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de celular</mat-label>
                    <input
                      name="num_celular"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Correo</mat-label>
                    <input
                      name="correo"
                      ngModel
                      type="email"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input
                      name="password"
                      ngModel
                      type="password"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Tipo de usuario</mat-label>
                    <input
                      name="tipo_usuario"
                      ngModel
                      type="text"
                      #edadAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
            <div class="centro">
              <img
                src="../../../assets/Images/siluetafamilia.png"
                width="15%"
              />
            </div>
            <h2 class="titulo">Información Familiar</h2>
            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de adultos en la casa</mat-label>
                    <input
                      name="numAdultos"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de niños en la casa</mat-label>
                    <input
                      name="numNiños"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Edad de la persona más longeva en la casa</mat-label
                    >
                    <input
                      name="edadesAdultos"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Edad de la persona más joven de la casa</mat-label
                    >
                    <input
                      name="edadesNiños"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de mascotas en la casa</mat-label>
                    <input
                      name="numMascotas"
                      ngModel
                      type="number"
                      #numMascotasInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Digite las razas de las mascotas seguidas de una coma ej:
                      (Pitbull, Cocker...)</mat-label
                    >
                    <input
                      name="razasMascotas"
                      ngModel
                      type="text"
                      #fundacionSolicitudInput="ngModel"
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >Seleccione el temperamento del animal mas agresivo de la
                      casa</mat-label
                    >
                    <mat-select
                      name="temperamentoMascotas"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option
                        *ngFor="let item of temperamentos"
                        [value]="item"
                      >
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Tiempo en años que lleva con esa mascota (digite 0 en
                      caso de no tener)</mat-label
                    >
                    <input
                      name="tiempoConMascotas"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Nombre de un familiar al que se pueda contactar en caso
                      de que usted no esté
                    </mat-label>
                    <input
                      name="nombreFamiliarContacto"
                      ngModel
                      type="text"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número de teléfono de ese familiar </mat-label>
                    <input
                      name="numeroFamiliarContacto"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Están todas las personas de la casa de acuerdo con tener
                      una mascota más en el hogar?</mat-label
                    >
                    <mat-select
                      name="familiaresDeAcuerdo"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Hay personas con alergias como asma o enfermedades
                      respiratorias?</mat-label
                    >
                    <mat-select
                      name="familiaresAlergias"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Hay personas que planeen embarazarse en el próximo año
                      en su casa?</mat-label
                    >
                    <mat-select
                      name="familiaresPlaneaEmbarazo"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
            <div class="centro">
              <img src="../../../assets/Images/silueta-perro.png" width="15%" />
            </div>
            <h2 class="titulo">
              Información Relacionada con la Tenencia de Mascotas
            </h2>
            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >¿Cuántas horas permanece fuera de casa al día?
                    </mat-label>
                    <input
                      name="tiempoEnCasaHoras"
                      ngModel
                      type="number"
                      #fundacionSolicitudInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Aproximadamente hasta qué hora estaría sola la
                      mascota?</mat-label
                    >
                    <mat-select
                      name="horaRegresoCasa"
                      ngModel
                      #tipoDocAdoptanteInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of horasSolo" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿En qué lugar vivirá la mascota?</mat-label>
                    <mat-select
                      name="lugarViviendaDeMascota"
                      ngModel
                      #lugarViviendaDeMascotaInput="ngModel"
                      required
                    >
                      <mat-option
                        *ngFor="let item of lugarDeVivienda"
                        [value]="item"
                      >
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Cuánto estima en gastos mensuales con su
                      mascota?</mat-label
                    >
                    <mat-select
                      name="veterinarioGastos"
                      ngModel
                      #veterinarioGastos="ngModel"
                      required
                    >
                      <mat-option
                        *ngFor="let item of dineroEstimadoMascota"
                        [value]="item"
                      >
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="4">
                  <span class="seccionJugar">
                    <ul>
                      <h1>Escoja los lugares donde su mascota podrá jugar:</h1>
                      <li *ngFor="let item of lugarDeJugar" class="items">
                        <mat-checkbox
                          name="patioInteriorJugar"
                          ngModel
                          #esquema_vacInput="ngModel"
                        >
                          {{ item }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="4">
                  <span class="gastosMascota"
                    ><ul>
                      <h1>
                        De los siguientes items, ¿Cuáles está dispuesto a asumir
                        para los gastos del animal?:
                      </h1>
                      <li *ngFor="let gastos of gastosMascota" class="items">
                        <mat-checkbox
                          name="vaterinarioGastos"
                          ngModel
                          #veterinarioGastosInput="ngModel"
                        >
                          {{ gastos }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿Ha tenido mascota anteriormente?</mat-label>
                    <mat-select
                      name="mascotaAnterior"
                      ngModel
                      #mascotaAnteriorInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Conoce los cuidados que necesita una mascota?</mat-label
                    >
                    <mat-select
                      name="conoceCuidadosMascota"
                      ngModel
                      #conoceCuidadosMascotaInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>¿Tiene veterinario de confianza?</mat-label>
                    <mat-select
                      name="veterinarioDeConfianza"
                      ngModel
                      #veterinarioDeConfianzaInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Es consciente de que una mascota representa una
                      responsabilidad por aproximadamente 15 años?</mat-label
                    >
                    <mat-select
                      name="conscienteResponsabilidad15años"
                      ngModel
                      #conscienteResponsabilidad15añosInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="4">
                  <span class="actividadesConMascota"
                    ><ul>
                      <h1>¿Qué actividades realizará con su mascota?:</h1>
                      <li
                        *ngFor="let actividades of actividadesConMascota"
                        class="items"
                      >
                        <mat-checkbox
                          name="actividadesConMascota"
                          ngModel
                          #actividadesConMascotaInput="ngModel"
                        >
                          {{ actividades }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Estaría dispuesto a buscar alternativas como colegio,
                      paseador, entrenador...?</mat-label
                    >
                    <mat-select
                      name="alternativaPaseador"
                      ngModel
                      #alternativaPaseadorInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="4">
                  <span class="casaDeLaMascota"
                    ><ul>
                      <h1>Escoja los lugares donde podrá dormir el animal:</h1>
                      <li *ngFor="let casa of casaDeLaMascota" class="items">
                        <mat-checkbox
                          name="espacioViviendaMascota"
                          ngModel
                          #espacioViviendaMascotaInput="ngModel"
                        >
                          {{ casa }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Estaría dispuesto a llevar el animal con usted en caso
                      de mudarse de la ciudad o país?</mat-label
                    >
                    <mat-select
                      name="disposicionMudarseConElAnimal"
                      ngModel
                      #disposicionMudarseConElAnimalInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Estaría dispuesto a pasear al animal al menos dos veces
                      al día (en caso de que sea perro)?</mat-label
                    >
                    <mat-select
                      name="disposicionPasearAlAnimalPerro"
                      ngModel
                      #disposicionPasearAlAnimalPerroInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿Cuánto tiempo dará para que el animal tenga un periodo
                      de adaptación a la familia y al nuevo hábitat?</mat-label
                    >
                    <mat-select
                      name="disposicionAdaptacionAnimal"
                      ngModel
                      #disposicionAdaptacionAnimalInput="ngModel"
                      required
                    >
                      <mat-option
                        *ngFor="let periodo of periodoAdaptacion"
                        [value]="periodo"
                      >
                        {{ periodo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >¿Quién asumirá los gastos de la mascota?
                    </mat-label>
                    <input
                      name="asumirGastosAnimal"
                      ngModel
                      type="text"
                      #asumirGastosAnimalInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label
                      >¿Quién cuidará la mascota en caso de que usted no lo
                      pueda seguir haciendo?
                    </mat-label>
                    <input
                      name="adoptanteAlternativoAusencia"
                      ngModel
                      type="text"
                      #adoptanteAlternativoAusenciaInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label
                      >¿En el lugar donde reside actualmente está permitida la
                      tenencia de animales?</mat-label
                    >
                    <mat-select
                      name="permisionTenenciaAnimales"
                      ngModel
                      #permisionTenenciaAnimalesInput="ngModel"
                      required
                    >
                      <mat-option *ngFor="let item of decision" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>

            <div class="centro">
              <img src="../../../assets/Images/casa.png" width="25%" />
            </div>
            <h2 class="titulo">Referencia Familiar</h2>

            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Nombres del familiar</mat-label>
                    <input
                      name="nombresFamiliar"
                      ngModel
                      type="text"
                      #nombresAdoptanteInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Apellidos del familiar</mat-label>
                    <input
                      name="apellidosFamiliar"
                      ngModel
                      type="text"
                      #apellidosFamiliarInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Parentezco</mat-label>
                    <mat-select
                      name="parentezcoFamiliar"
                      ngModel
                      #parentezcoFamiliarInput="ngModel"
                      required
                    >
                      <mat-option
                        *ngFor="let item of parentezcos"
                        [value]="item"
                      >
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número fijo</mat-label>
                    <input
                      name="numFijoFamiliar"
                      ngModel
                      type="tel"
                      #numFijoFamiliarInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número celular</mat-label>
                    <input
                      name="numCelularFamiliar"
                      ngModel
                      type="tel"
                      #numCelularFamiliarInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
            <div class="centro">
              <img src="../../../assets/Images/casa.png" width="25%" />
            </div>
            <h2 class="titulo">Referencia Personal</h2>

            <mat-grid-list cols="2" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Nombres del familiar</mat-label>
                    <input
                      name="nombresAmigo"
                      ngModel
                      type="text"
                      #nombresAmigoInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Apellidos del familiar</mat-label>
                    <input
                      name="apellidosAmigo"
                      ngModel
                      type="text"
                      #apellidosAmigoInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Tiempo de conocimiento en años</mat-label>
                    <mat-select
                      name="tiempoDeConocimientoAmigo"
                      ngModel
                      #tiempoDeConocimientoAmigoInput="ngModel"
                      required
                    >
                      <mat-option
                        *ngFor="let item of tiempoConocimiento"
                        [value]="item"
                      >
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número fijo</mat-label>
                    <input
                      name="numFijoAmigo"
                      ngModel
                      type="tel"
                      #numFijoAmigoInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="ancho">
                    <mat-label>Número celular</mat-label>
                    <input
                      name="numCelularAmigo"
                      ngModel
                      type="tel"
                      #numCelularAmigoInput="ngModel"
                      required
                      matInput
                    />
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="60px">
              <div class="centro">
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <mat-form-field class="ancho">
                    <mat-label
                      >Explique en un parrafo las razones por las que quiere
                      adoptar a la mascota</mat-label
                    >
                    <textarea
                      name="razonesAdopcion"
                      ngModel
                      type="text"
                      #razonesAdopcionInput="ngModel"
                      required
                      matInput
                      cols="2"
                    >
                    </textarea>
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>

            <div class="centro">
              <button
                mat-raised-button
                color="primary"
                style="margin: 18px"
                class="tamano"
                type="submit"
              >
                Enviar Solicitud
              </button>
              <button
                mat-raised-button
                color="accent"
                class="tamano"
                routerLink="/dashboard-adoptante/adoptame"
              >
                Cancelar
              </button>
            </div>
          </form>
        </form>
      </mat-card>
    </form>
  </mat-card>
</div>
