<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  />
</head>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Sobre Nosotros</h4>
        <ul>
          <li><a href="dashboard-adoptante/get-fundaciones">Fundaciones</a></li>
          <li><a href="#">Nuestros servicios</a></li>
          <li><a href="#">Política de privacidad</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Información</h4>
        <ul>
          <li><a>Teléfono: (+57) 3227752303 </a></li>
          <li><a>Correo electrónico: adoptabog@gmail.com </a></li>
          <li><a>Bogotá D.C., Colombia </a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Síguenos</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
