.full 
{
    width: 100vw;
    height: 90vh;
}
.mapa
{
    height: 90vh;
    width: 100%;
}
.example-spacer 
{
    flex: 1 1 auto;
}
.pointer
{
    cursor: pointer;
}
.alinearDer 
{
    margin-right: 10px;
}