<!--
<div class= "full" id = "map">
</div>
-->

<div class="full" id="map">

    <agm-map class="mapa" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)"
        [mapTypeControl]="true" (mapReady)="mapReady($event)">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="activarPuntos()">
          <mat-icon>room</mat-icon>
          <span>Fijar un punto de interés</span>
        </button>
        <button mat-menu-item (click)="eliminarPuntos()">
            <mat-icon>delete</mat-icon>
            <span>Eliminar todos los puntos de interés</span>
          </button>
      </mat-menu>


        <button id="Settings" class="toggle-button controls button" mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
            <mat-icon aria-hidden="true">settings</mat-icon>
        </button>
        
        <agm-marker [latitude]="latitude" [longitude]="longitude">
            <agm-info-window>
                <div>
                    <p>
                        Estás aquí
                    </p>
                </div>
            </agm-info-window>
        </agm-marker>
        <agm-marker *ngFor="let coord of coordenadas" [latitude]="coord.latitude" [longitude]="coord.longitude">
            <agm-info-window>
                <div>
                    <p>
                        {{direccion}}
                    </p>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>