<div *ngIf="solicitudes.length > 0 && !formulario">
  <div class="mat-elevation-z8" class="tam example-container">
    <mat-toolbar>
      <span>Mis Solicitudes de Adopción</span>
    </mat-toolbar>
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="foto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Foto</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Foto: </span>
          <img [src]="'http://localhost:3000/' + element.animal.urlImg" width="100%" class="circulo" />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Fecha: </span>
          {{ element.solicitud.fecha_solicitud | date: "dd/MM/yyyy" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Estado de la solicitud
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Solicitud: </span>
          {{ element.solicitud.estado }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="formulario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Formulario</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Formulario: </span>
          <!--Si está en espera la solicitud-->
          <div *ngIf="element.solicitud.estado == 'En espera'" class="agrandar">
            <mat-icon [ngStyle]="{'color':'grey'}">feed</mat-icon>
            <i style="color: white">....</i>
            <mat-icon [ngStyle]="{'color':'red'}" class="pointer" 
            (click)="accion('eliminar',element.solicitud)" matTooltip="Eliminar solicitud">delete</mat-icon>
          </div>
          <!--Si el formulario está por enviarse-->
          <div *ngIf="element.solicitud.estado == 'Aceptado, formulario no enviado.'" class="agrandar">
            <mat-icon [ngStyle]="{'color':'green'}" class="pointer" matTooltip="Llenar formulario"
             (click)="accion('formulario',element.solicitud)">feed</mat-icon>
            <i style="color: white">....</i>
            <mat-icon [ngStyle]="{'color':'red'}" class="pointer" 
            (click)="accion('eliminar',element.solicitud)" matTooltip="Eliminar solicitud">delete</mat-icon>
          </div>
          <!--Si la solicitud fue rechazada-->
          <div *ngIf="element.solicitud.estado == 'Rechazado, sin posibilidad de enviar formulario.'" class="agrandar">
            <mat-icon [ngStyle]="{'color':'grey'}">feed</mat-icon>
            <i style="color: white">....</i>
            <mat-icon [ngStyle]="{'color':'red'}" class="pointer" 
            (click)="accion('eliminar',element.solicitud)" matTooltip="Eliminar solicitud">delete</mat-icon>
          </div>

          <!--Si la solicitud fue rechazada-->
          <div *ngIf="element.solicitud.estado == 'Aceptado, formulario en espera de respuesta.'" class="agrandar">
            <mat-icon [ngStyle]="{'color':'yellow'}">feed</mat-icon>
            <i style="color: white">....</i>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>
<h2 *ngIf="solicitudes.length == 0" class="tam">No hay solicitudes activas</h2>
<div *ngIf="formulario">
  <app-formulario-adopcion [data]="solicitud" (salida)="salir($event)"></app-formulario-adopcion>
</div>

