<div *ngIf="solicitudes.length > 0">
  <div class="mat-elevation-z8" class="tam example-container">
    <mat-toolbar>
      <span>Mis Solicitudes de Adopción</span>
    </mat-toolbar>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="fundacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fundacion</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Fundación: </span>
          {{ element.fundacion }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Fecha: </span>
          {{ element.fecha }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Estado de la solicitud
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Solicitud: </span>
          {{ element.aceptada }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="formulario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Formulario</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Formulario: </span>
            <button
              mat-fab
              color="primary"
              matTooltip="Ver formulario"
              routerLink="/dashboard-adoptante/solicitudes-adopcion-adoptante/formulario-adopcion"
            >
              <mat-icon> check_circle_outline</mat-icon>
            </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
<h2 *ngIf="solicitudes.length == 0" class="tam">No hay solicitudes activas</h2>
