.ancho {
  width: 90%;
}
.ancho {
  width: 90%;
}
.centro {
  text-align: center;
}
.margen {
  height: 1120px;
  width: 1120px;
  margin: auto;
}
.tamano {
  text-align: center;
  width: 120px;
  height: 35px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.titulo {
  font-size: 30px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(245 245 220);
}
.image {
  background-image: url(src\assets\Images\dogs-background.png);
  height: 90%;
}
.color {
  background-color: rgba(245, 245, 220, 0.7);
}
.todo {
  padding-top: 70px;
}

.izquierda {
  align-items: left;
}

.inputImg {
  visibility: hidden;
}
.pointer {
  cursor: pointer;
}
