.example-card {
  max-width: 500px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.centro {
    text-align: center;
}
.content 
{
    padding: 16px;
}
.content > mat-card 
{
    width: 50px;
}
.body 
{
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
}
.crear
{
    width: 100%;
    max-width: 350px;
    text-align: center;
}
.circulo
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.titulo 
{
    font-size: 30px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.container {
    display: flex;
    width: 425px;
    height: 320px;
    overflow: hidden;
    position: relative;
}
.container > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.parent {
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }