<div *ngIf="publicaciones.length > 0">
  <div class="mat-elevation-z8" class="tam class example-container">
    <mat-toolbar>
      <span>Mis Publicaciones</span>
      <button
        mat-fab
        color="primary"
        class="tam1"
        matTooltip="Agregar publicacion"
        routerLink="/dashboard/publicaciones/crear-publicacion"
      >
        <mat-icon> add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ingrese su búsqueda"
        #input
      />
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="imagenPublicacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Imágen: </span>
          <img [src]="'http://localhost:3000/' + element.urlImg" width="100%" class="pointer circulo" 
            (click)="openDialog(element)"
            matTooltip="Ver publicación"/>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tituloPublicacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Título: </span>
          {{ element.titulo}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cuerpoPublicacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Descripción: </span>
          {{ element.cuerpo}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="seccionPublicacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sección</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Sección: </span>
          {{ element.seccion}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fechaPublicacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Fecha de publicación
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Fecha: </span>
          {{ element.fecha |  date:'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
<div *ngIf="publicaciones.length == 0" class="tam">
  <mat-toolbar>
    <span>No hay publicaciones por mostrar</span>
    <button
      mat-fab
      color="primary"
      class="tam1"
      matTooltip="Agregar publicacion"
      routerLink="/dashboard/publicaciones/crear-publicacion"
    >
      <mat-icon> add</mat-icon>
    </button>
  </mat-toolbar>
</div>