@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

.contenedor {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  align-items: center;
}
.tam {
  padding-top: 30px;
}
.mat-cell {
  text-align: center;
  padding-top: 15px;
}
h1 {
  font-family: "Proza Libre", sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-size: 27px;
}
.filtro {
  width: 150px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 40px;
}
.mat-form-field {
  background-color: aliceblue;
}
.mat-toolbar {
  align-items: center;
}
table {
  width: 100%;
}
.mat-header-cell {
  background-color: rgb(80, 150, 95);
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  color: white;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-paginator {
  background-color: rgb(80, 150, 95);
  color: white;
}
.mat-row {
  background-color: #f5f5f5;
}
.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.tam {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.pointer {
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
