<body>
  <ul>
    <li>
      <span class="posicion">1</span>
      <span class="nombre">Pedro Rodriguez</span>
      <span class="fecha">3 de octubre</span>
      <span class="nombreAnimal">Mateo</span>
      <span class="tipoAnimal">Perro</span>
    </li>
    <li>
      <span class="posicion">1</span>
      <span class="nombre">Pedro Rodriguez</span>
      <span class="fecha">3 de octubre</span>
      <span class="nombreAnimal">Mateo</span>
      <span class="tipoAnimal">Perro</span>
    </li>
    <li>
      <span class="posicion">1</span>
      <span class="nombre">Pedro Rodriguez</span>
      <span class="fecha">3 de octubre</span>
      <span class="nombreAnimal">Mateo</span>
      <span class="tipoAnimal">Perro</span>
    </li>
  </ul>
</body>
