<div class="todo">
  <mat-toolbar>
    <h1>Consejos</h1>
    
    <!-- <div class="items">
      <div class="filtro">
        <mat-form-field appearance="fill" class="no-padding">
          <mat-label>Filtrar por sección</mat-label>
          <mat-select name="seccion" ngModel #seccionInput="ngModel" (selectionChange)="filtrarPublicaciones($event.value)">
            <mat-option *ngFor="let item of seccion" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
    </div> -->
   
    
  </mat-toolbar>

  <div class="row">
    <div class="col-md-4 p-4" *ngFor="let consejo of consejos">
      <div
        class="card card-publi"
        (click)="onConsejoSelected(consejo._id!)"
      >
        <div class="card-header">
          {{ consejo.titulo }}
        </div>
        <img
          [src]="'http://localhost:3000/' + consejo.urlImg"
          class="img-card-top w-80"
        />
        
        <div class="class-footer">
          Fecha de publicación: {{ consejo.fecha | date: "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </div>
