

<div class="encabezado">
    <h1>Imagen</h1>
    <h1>Nombre</h1>
    <h1>Precio</h1>
</div>
<div *ngFor="let producto of productos; index as i" class="todo">
    
    <div class="imagen">
        
        <img
                  class="container crop card"
                  mat-card-image
                  [src]="'http://localhost:3000/' + producto.urlImg"
                  alt="Foto de un producto"
                  width="10%"
                />

                
    </div>
    <div >
        <h1><b>{{producto.nombre}}</b></h1>
    <h3><b>Precio:</b> <i> {{producto.precio}} $</i></h3>
    <h3><b>Sección:</b> <i> {{producto.seccion}} </i></h3>
    <h3><b>Producto de:</b> <i> {{producto.tipoAnimal}} </i></h3>
    </div>
</div>
<div style="text-align: center;">
    <button mat-raised-button (click)="accion('cerrar')" color="warn">Cerrar</button>
</div>

