.todo {
  display: flex;
  padding-bottom: 15px;
  text-align: center;
}
.imagen {
  width: 50%;
  padding-right: 15px;
  vertical-align: middle;
  justify-content: left;
  justify-items: left;
}
.precio {
  right: 50%;
  margin-right: 0;
}
.nombre {
  padding-right: 150px;
  text-align: center;
}
.encabezado {
  display: flex;
}
h1 {
  padding-right: 120px;
  background-color: #f5f5f5;
  text-align: center;
  justify-items: center;
}
