<div class = "image">
    <h2 class= "titulo">Seleccione el tipo de animal a crear</h2>
    <div class = "body">
        <div class="crear">
                <img src="../../../assets/Images/dog.png"  class = "pointer" width= "70%" matTooltip="Crear perro" routerLink = "crear-animal-perro">
                <p></p>
        </div>
        <div class="crear">
            <img src="../../../assets/Images/cat.png" width= "70%" class = "pointer" matTooltip="Crear gato"  routerLink = "crear-animal-gato">
            <p></p>
        </div>
    </div>
    
</div>
