<div class="alinear">
  <h1>{{ data.animal.nombre }}</h1>
  <img
    [src]="'http://localhost:3000/' + data.animal.urlImg"
    mat-card-image
    width="70%"
    class="container crop"
  />
  <p></p>
  <p></p>
  <div class="justificar">{{ data.animal.descripcion }}</div>
  <p></p>
  <p></p>
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile colspan="1" rowspan="1"
      >Raza: {{ data.animal.raza }}</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1"
      >Sexo: {{ data.animal.sexo }}</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1"
      >Edad: {{ data.animal.edad }}</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1"
      >Situación: {{ data.animal.situacion }}</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1"
      >Esquema de vacunación: {{ data.animal.esquema_vac }}</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1"
      >Fecha de vacuna:
      {{ data.animal.ultima_vac | date: "dd/MM/yyyy" }}</mat-grid-tile
    >
  </mat-grid-list>
  <p></p>
  <p></p>
  <button mat-raised-button (click)="accion('cerrar')">Cerrar</button>
</div>
