<div>
    <div class="form-group">
      </div>
</div>
<div class = "image">
    <mat-toolbar color="primary">
        <span> Creación de cuenta - Fundación</span>
    </mat-toolbar>
    <div class= "margen">
        <mat-card>
            <form action="crear-fundacion.component.ts" (ngSubmit)=onSignUp(signUpFun) #signUpFun="ngForm" method="POST" >
                <div class="centro">
                    <h2>Agrega una imagen a tu perfil</h2>
        
                    <input #fileInput type="file" (change)="onPhotoSelected($event)" style="display:none;" />
                    <img [src]="photoSelected || previsualizacion" width="15%" class="pointer" matTooltip="Desplegar opciones de foto"
                            [matMenuTriggerFor]="menu">
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="fileInput.click()">
                                <mat-icon>perm_media</mat-icon>
                                <span>Cambiar foto</span>
                                <input (change)="onPhotoSelected($event)" type="file">
                            </button>
                        </mat-menu>
                  </div>
                <mat-grid-list cols="2" rowHeight="60px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Nombre de la fundación</mat-label>
                            <input matInput name="nombreFun" ngModel type="text" #nombreInput="ngModel" required autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Nombre de encargado(a)</mat-label>
                            <input matInput name="nombreEncar" ngModel type="text" #nombreEnInput="ngModel" required autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Apellidos de encargado(a)</mat-label>
                            <input matInput name="apellidos" ngModel type="text" #apellidosInput="ngModel" required autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="fill" class="ancho">
                            <mat-label>Tipo de documento</mat-label>
                            <mat-select name="tipo_doc" ngModel #tipo_docInput="ngModel">
                                <mat-option *ngFor="let tipo_doc of tipo_doc" [value]="tipo_doc" >
                                    {{tipo_doc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Número de documento</mat-label>
                            <input matInput name="num_doc" ngModel type="text" #num_docInput="ngModel" required autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                          <mat-label>Misión</mat-label>
                          <textarea name="mision" ngModel #misionInput="ngModel" required class="descrip"
                            placeholder="Escriba cual es su misión como fundación animal" matInput></textarea>
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                          <mat-label>Visión</mat-label>
                          <textarea name="vision" ngModel #visionInput="ngModel" required class="descrip"
                            placeholder="Escriba cual es su visión como fundación animal" matInput></textarea>
                        </mat-form-field>
                      </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho" appearance="fill">
                            <mat-label>Fecha de creación</mat-label>
                            <input matInput name="fecha_creacion" ngModel #fechaInput="ngModel" required [matDatepicker]="picker"
                            [max]="maxDate" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="fill" class="ancho">
                            <mat-label>Dirección</mat-label>
                            <input matInput name="direccion" ngModel #direccionInput="ngModel" type="text" autocomplete="off" 
                            placeholder="Ingrese la dirección donde se encuentra la fundación" 
                            autocapitalize="off" class="form-group" #search > 
                            
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput name="correo" ngModel type="text" #correoInput="ngModel" required autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                            <mat-form-field class="ancho">
                              <mat-label>Número de celular</mat-label>
                              <span matPrefix>+57 &nbsp;</span>
                              <input type="tel" name="num_cel" ngModel #numInput="ngModel" required matInput placeholder="320559628" autocomplete="off">
                            </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                        <mat-form-field class="ancho">
                            <mat-label>Contraseña</mat-label>
                            <input matInput name="contrasena" ngModel type="password" #passwordInput ="ngModel" required autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class = "centro">
                    <button mat-raised-button color="primary" style="margin: 16px;" class = "tamano" type="submit" >Crear cuenta</button>
                    <button mat-raised-button color="accent" class = "tamano" routerLink = "/crear-cuenta">Cancelar</button>
                </div>
            </form>
            
        </mat-card>
    </div>
    
</div>
