<div class="alinear">
  <h1>¿Está seguro de solicitar la adopción de {{ data.animal.nombre }}?</h1>
  <p></p>
  <p></p>
  <div class="justificar">
    La fundación revisará su perfil y lo llamará de considerarlo necesario. En
    la pestaña "Mis solicitudes" podrá ver el estado de la solicitud y, de ser
    el caso, estará habilitado el formulario de adopción de la mascota.
  </div>
  <p></p>
  <p></p>
  <div *ngIf="!enviado && !enviadoForm">
    <div class="boton">
      <button
        mat-raised-button
        color="primary"
        *ngIf="usuarioAutenticado"
        (click)="solicitud(data.animal, userAdoptante, 'enviar')"
      >
        Enviar solicitud
      </button>
    </div>
    <div class="boton">
      <button
        mat-raised-button
        color="warn"
        *ngIf="usuarioAutenticado"
        (click)="accion('cerrar')"
      >
        Volver
      </button>
    </div>
  </div>
  <div *ngIf="enviado" >
    <div class="boton">
      <button
        mat-raised-button
        color="warn"
        *ngIf="usuarioAutenticado"
        (click)="solicitud(data.animal, userAdoptante, 'cancelar')"
      >
      Cancelar Solicitud
      </button>
    </div>
    <div class="boton">
      <button
        mat-raised-button
        color="warn"
        *ngIf="usuarioAutenticado"
        (click)="accion('cerrar')"
      >
        Cancelar
      </button>
    </div>
  </div>
  <div *ngIf="enviadoForm" >
    <div class="boton">
      <button
        mat-raised-button
        [disabled]="true"
      >
      Enviado
      </button>
    </div>
    <div class="boton">
      <button
        mat-raised-button
        color="warn"
        *ngIf="usuarioAutenticado"
        (click)="accion('cerrar')"
      >
        Cancelar
      </button>
    </div>
</div>
