@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
.todo {
  padding-top: 80px;
}

h1 {
  font-family: "Proza Libre", sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-size: 27px;
}
.agregarAnimal button {
  background-color: green;
  border-radius: 0%;
  width: 190px;
  height: 50px;
  color: white;
  align-items: center;
  box-sizing: border-box;
}
input {
  width: 300px;
}

.agregarAnimal {
  padding-left: 15px;
}

.botonAgregar {
  border-radius: 50%;
}
.mat-toolbar {
  align-items: center;
}
table {
  width: 100%;
}
th {
  width: 10%;
}
.pointer {
  cursor: pointer;
}
.mat-form-field {
  font-size: 14px;
}
.tam {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 40px;
}

.mat-header-cell {
  background-color: rgb(80, 150, 95);
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  color: white;
}

.mat-row {
  background-color: #f5f5f5;
}
.mat-paginator {
  background-color: rgb(80, 150, 95);
  color: white;
}
.example-spacer {
  flex: 1 1 auto;
}
.tam1 {
  margin-left: auto;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .card-publi {
    cursor: pointer;
  }

  .card-publi:hover {
    border: 1px solid #333;
  }
}
