<div class="todo">
  <mat-toolbar>
    <h1>Mis Animales</h1>
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ingrese raza, sexo, edad etc"
        #input
      />
    </mat-form-field>
    <div class="agregarAnimal">
      <button mat-fab routerLink="/dashboard/seleccion-animal">
        <p>Agregar un nuevo animal</p>
      </button>
    </div>
  </mat-toolbar>
  <div *ngIf="animales.length > 0">
    <div class="example-container mat-elevation-z8" class="tam">
      <mat-table [dataSource]="dataSource" matSort>
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="foto">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Foto</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Foto: </span>
            <img
              [src]="'http://localhost:3000/' + element.urlImg"
              class="circulo pointer"
              [matTooltip]="element.nombre"
              (click)="visualizarAnimal(element)"
            />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edad">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Edad</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Edad: </span>
            {{ element.edad }}</mat-cell
          >
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="tipo">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Tipo</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Tipo: </span>
            {{ element.tipo_animal }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="sexo">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Sexo</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Sexo: </span>
            {{ element.sexo }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="situacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Situación</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Situación: </span>
            {{ element.situacion }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="EsquemaVac">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Esquema de vacunación</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Esquema: </span>
            {{ element.esquema_vac }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="publicar">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >publicar en adopción</mat-header-cell
          >
          <mat-cell *matCellDef="let element; let i = index">
            <span class="mobile-label">Acción: </span>
            <div
              *ngIf="element.idPapa == ''; then botones; else desactivados"
            ></div>
            <ng-template #botones>
              <div *ngIf="!element.enAdopcion">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="publicarAnimal(i, 'publicar')"
                >
                  publicar
                </button>
              </div>
              <div *ngIf="element.enAdopcion">
                <button
                  mat-raised-button
                  color="warn"
                  (click)="publicarAnimal(i, 'cancelar')"
                >
                  Cancelar
                </button>
              </div>
            </ng-template>
            <ng-template #desactivados>
              <div>
                <button mat-raised-button color="primary" [disabled]="true">
                  Adoptado
                </button>
              </div>
            </ng-template>
          </mat-cell>
        </ng-container>
        <!--
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          style="text-align: right"
        >
          <a class="pointer" matTooltip="Ver animal">
            <mat-icon>search</mat-icon>
          </a>
          <a class="pointer" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </a>
          <a
            class="pointer"
            (click)="eliminarAnimal(i)"
            style="color: brown"
            matTooltip="Eliminar"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>
      -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <h2 *ngIf="animales.length == 0" class="tam">No hay animales por mostrar</h2>
</div>
