<div class="si hay solicitudes">
    <div class="mat-elevation-z8" class="tam example-container">
        <mat-toolbar>
            <span>Solicitudes de adopción</span>
        </mat-toolbar>
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="idSolicitud"> 
              <mat-header-cell *matHeaderCellDef mat-sort-header>id solicitud</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Solicitud: </span>
                  {{idSolicitud}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="animalSolicitud">
              <mat-header-cell *matHeaderCellDef mat-sort-header>nombre mascota</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Mascota: </span>
                  {{element.animalAdopcion.nombre}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombreSolicitante">
              <mat-header-cell  *matHeaderCellDef mat-sort-header>nombre interesado</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Interesado: </span>
                {{element.adoptante.nombre + element.adoptante.apellidos}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="localidadSolicitante">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Localidad
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Localidad: </span>
                {{element.adoptante.localidad}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="numeroSolicitante">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Celular
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <!-- {{element.adoptante.num_celular}}-->
                  <span class="mobile-label">Celular: </span>
                  <button mat-raised-button (click)="openDialog(element)">Action</button>
                </mat-cell>
              </ng-container>
              
              <!--
              <ng-container matColumnDef="fechaSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Fecha de solicitud
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.fecha}}
                </td>
              </ng-container>
              -->
      
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
<div class="si no hay solicitudes">

</div>
